{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		
		{# Add classes to specify this post type and a unique ID. Note that it wouldn't be wise to style this ID because you may be using a different database at some point, however it's not hurting anyone and could be useful for prototyping. #}
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">

				{# Get the page's title #}
				<h1>{{post.title}}</h1>
				
				<div class="article-body">
					{# Get the page's content editor data #}
					{{post.content}}
				</div>
				
				<div class="row">
					
					{% if post.type_of_header == 'Gallery' %}

						<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
						      </div>
						      <div class="modal-body">
								<img id="resultImg" src="{{img.src|resize(800)}}" alt="{{img.title}}">
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        <button type="button" class="btn btn-primary">Save changes</button>
						      </div>
						    </div>
						  </div>
						</div>

						{% for id in post.home_page_gallery %}
							
							{% set img = TimberImage(id) %}
							
							<!-- Button trigger modal -->
						{# 	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
							  Launch demo modal
							</button>
 #}

{# 


Click image
get src of image
insert source into modal
show modal


 #}

							<div class="gallery-image col-md-4 col-sm-6">
								<h5>{{img.title}}</h5>
								<img class="targetImg" src="{{img.src|resize(400)}}" alt="{{img.title}}" data-toggle="modal" data-target="#myModal">
							</div>

						{% endfor %}
					{% elseif post.type_of_header == 'Image' %}
						{% set hdr_img = TimberImage(post.home_header_image) %}
						<img src="{{hdr_img.src}}" alt="{{hdr_img.title}}">
					{% endif %}
				</div>

			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}